@import 'tailwindcss';

@tailwind utilities;

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
/* @import '@skeletonlabs/skeleton/themes/cerberus'; */
