@use './vars.scss' as *;

/* src/styles/themes.scss */

/* Default Light Theme */
:root {
  --ink-black: $inkBlack;
  --vanilla-custard: $vanillaCustard
  --ochre: $ochre;
  --bg-color: var(--vanilla-custard);
  --text-color: var(--ink-black);
}

/* Dark Theme */
[data-theme='dark'] {
  --bg-color: var(--ink-black);
  --text-color: var(--vanilla-custard);
}

/* Use Ochre for errors */
.error {
  color: var(--ochre);
}

/* Apply background and text colors globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


// body {
// 	font-family: 'Arial', sans-serif;
// 	background-color: #f5f5f5;
// }
