@use './vars.scss' as *;

@layer theme {
	:root {
		--ink-black: #{$inkBlack};
		--picker: #{$picker};
		--ochre: #{$ochre};
		--bg-color: var(--picker);
		--text-color: var(--ink-black);
		--color-warning: var(--ochre);
		--text-primary-dark: var(--ink-black) !important;
	}
}

@layer base {
	.error {
		color: var(--ochre);
	}

	.text-dark {
		color: var(--text-primary-dark);
	}
	.text-primary {
		color: var(--text-color);
	}
	.text-secondary {
		color: var(--text-color-reverse) !important;
	}

	input {
		color: var(--text-color-reverse);
	}

	[data-scope='tabs'][data-part='list'] {
		border-color: var(--bg-color-reverse);
	}
	[data-scope='tabs'][data-part='trigger']:hover {
		background-color: var(--bg-color-reverse);
		color: var(--text-color-reverse);
		a {
			color: var(--text-color-reverse);
		}
	}

	.bg-main {
		background-color: var(--bg-color);
	}
	.bg-main-50 {
		background-color: rgba(var(--bg-color), 0.5);
	}

	.bg-main-reversed {
		background-color: var(--bg-color-reverse);
	}
	.bg-main-reversed-50 {
		background-color: rgba(var(--bg-color-reverse), 0.5);
	}

	.text-warning {
		color: var(--ochre);
	}

	body {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
	p {
		color: var(--text-color);
	}

	a {
		color: var(--text-color);
	}
}
@layer utilities {
	.text-white {
		color: var(--text-color);
	}
	.preset-tonal {
		color: var(--text-color);
	}

	.preset-filled {
		background-color: var(--bg-color-reverse);
		color: var(--text-color-reverse);
	}
}

/* Dark Theme */
[data-theme='dark'] {
	--bg-color: var(--ink-black) !important;
	--bg-color-reverse: var(--picker) !important;
	--text-color: var(--picker) !important;
	--text-color-reverse: var(--ink-black) !important;
	--text-primary: var(--picker) !important;

	--color-warning: var(--ochre) !important;
}
/* Light Theme */
[data-theme='light'] {
	--bg-color: var(--picker) !important;
	--bg-color-reverse: var(--ink-black) !important;
	--text-color: var(--ink-black) !important;
	--text-color-reverse: var(--picker) !important;
	--text-primary: var(--ink-black) !important;

	--color-warning: var(--ochre) !important;
}
